# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
gradle
build.gradle
gradle.properties

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
*.txt
run
!run/eula.txt
!eula.txt
*.bat
gradlew